DATABASE_URL=

STORE_NAME=Milestone Enterprises
STORE_PHONE=8210085318
STORE_EMAIL=pawanjee@milestoneautoparts.in
STORE_CITY=India
WHATSAPP_NUMBER=9955670692

ADMIN_KEY=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
